/**
* reset style 
*/

* {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    box-sizing: border-box;
}

/**
* table design 
*/
body {
    margin: auto;
}
h1{
    text-align: center;
    padding: 10px;
}

#tableSudoku {
    margin: 10px auto;
    width: 360px;
    border-collapse: collapse;
    tr:nth-child(1) {
        border-top: 5px solid black;
    }
    tr:nth-child(3),tr:nth-child(6),tr:nth-child(9) {
        border-bottom: 5px solid black;
    }
    td:nth-child(3),td:nth-child(6),td:nth-child(9) {
        border-right: 5px solid black;
    }
    td:nth-child(1) {
        border-left: 5px solid black;
    }
    td {
        border: 2px solid grey;
        text-align: center;
        height: 30px;
        width: 30px;
    }
}

#tableChoiceNumber {
    margin: 10px auto;
    width: 360px;
    border-collapse: collapse;
    
    td {
        border: 5px solid black;
        text-align: center;
        height: 30px;
        width: 30px;
    }
}

#messages {
    text-align: center;
    margin-top: 1em;
}

form {
    margin-top: 1em;
    text-align: center;
    input {
        
        padding: 1em;
        background-color: grey;
        border-radius: 20px;
        width: 33%;
        color: white;
    }
}

td[actif] {
    background-color: lightblue;
}



